.card_c {
    margin: 0 35px;
    border-radius: 20px;
    display: flex;
    background: white;
    box-shadow: #F6F6F6 0px 0px 35px;
    padding: 15px 18px;
    margin-bottom: 25px;
    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
        padding-top: 10px;
        .description {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .dep-title {
            font-size: 30px;
            color: black;
        }
        .dep-subtitle {
            font-size: 24px;
            color: #CACACA;
            margin-top: 6px;
            height: 80px;
        }
    }
    .icon-list {
        background: #EDDDFA;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        .icon-list-image {
            width: 16px;
            height: 16px;
        }
    }
    .iconlist {
        display: flex;
    }
    .icon-box-list {
        display: flex;
        align-items: center;
        margin-right: 30px;
        .price-text {
            font-size: 27px;
            font-weight: 600;
            margin-left: 7px;
        }
        .unit {
            font-size: 20px;
            margin-left: 5px;
            position: relative;
            top: 2px;
        }
    }
    .card-join-icon {
        width: 35px;
        height: 35px;
    }
    .crad-join-view {
        width: 55px;
        height: 85px;
        background: #F9F1FE;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
    }
}
.card-photo {
    width: 160px;
    height: 180px;
    border-radius: 15px;
    background: #EDDDFA;
}