.card_c {
    margin: 0 35px;
    border-radius: 20px;
    display: flex;
    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .description {
            display: flex;
            flex-direction: column;
        }
    }
}
.card-photo {
    width: 125px;
    height: 150px;
    border-radius: 15px;
}